<!DOCTYPE html>
<html ng-app="login">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="app.css">
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="MainController" ng-keyup="keyUp($event)" ng-keydown="keyDown($event)" tabindex="0">
    <h1>Wizard Box</h1>

    <h2>It's a wizard in a box</h2>

    <div id="arena" ng-click="clickOnArena($event)" >
      <img id="myWizard" src="wizard.png" ng-show="joined" >
    </div>
    <div id="controls">
      <button ng-click="joinGame()">Join</button>
    </div>
  </body>
</html>
